@page "/"
@namespace SimpleRuleBlazor.Components.Layout

<div class="u-background-light-blue">
    <div class="u-padding-y is--56 w-container">
        <div class="w-layout-grid c-freetrial-01">
            <div>
                <img src=images/lines-01.svg loading="eager" alt="" class="display is--hide" />
            </div>
            <div class="u-max-width-500">
                <div class="u-flex is--ver">
                    <h3>Free Trial</h3>
                    <h5 class="is--center">Join Simple Rule today! No Commitment. No Credit Card Required.</h5>
                    <a href="https://forms.gle/ToPkcAxm4t76ZZPc7" target="_blank" rel="noopener noreferrer"
                        class="c-primary-btn is--large modal-trigger w-button">
                        START FREE TRIAL
                    </a>
                </div>
            </div>
            <div class="u-align is--center">
                <img src=images/lines-02.svg loading="eager" alt="" class="display is--hide" />
            </div>
        </div>
    </div>
</div>
