@page "/"
@namespace SimpleRuleBlazor.Components.Layout

<div class="u-background-light-blue">
    <div class="u-padding-y is--56 w-container">
        <div class="w-layout-grid c-freetrial-01">
            <div>
                <img src=images/lines-01.svg loading="eager" alt="" class="display is--hide" />
            </div>
            <div class="u-max-width-500">
                <div class="u-flex is--ver">
                    <h3>Free Trial</h3>
                    <h5 class="is--center">Join Simple Rule today! No Commitment. No Credit Card Required.</h5>
                    <a href="https://forms.gle/ToPkcAxm4t76ZZPc7" target="_blank" rel="noopener noreferrer"
                        class="c-primary-btn is--large modal-trigger w-button">
                        START FREE TRIAL
                    </a>
                </div>
            </div>
            <div class="u-align is--center">
                <img src=images/lines-02.svg loading="eager" alt="" class="display is--hide" />
            </div>
        </div>
    </div>
</div>
<div class="global-footer-bg">
    <div class="u-padding-y is--56 w-container">
        <div class="w-layout-grid c-footer_grid">
            <div>
                <h6>
                    <span class="u-text-color is--black">Programs</span>
                </h6>
                <a href="/link-not-found/Simple_Rule_AI" class="global-footer-link">Simple Rule AI</a>
                <a href="/link-not-found/Simple_WhatsApp" class="global-footer-link">WhatsApp</a>
                <a href="/link-not-found/Simple_Google_Maps" class="global-footer-link">Maps</a>
                <a href="/link-not-found/Simple_Business" class="global-footer-link">Business Tools</a>
                <a href="/link-not-found/Simple_Timer" class="global-footer-link">Weather</a>
                <a href="/link-not-found/Simple_Photo_Emailer" class="global-footer-link">Photo Email</a>
            </div>
            <div>
                <h6>
                    <span class="u-text-color is--black">Support</span>
                </h6>
                <a href="/link-not-found/Account" class="global-footer-link">Account</a>
                <a href="/link-not-found/Billing" class="global-footer-link">Billing</a>
                <a href="https://forms.gle/KuewJ2PxgjD8jKgB9" target="_blank" rel="noopener noreferrer"
                    class="global-footer-link">Manage Subscription</a>
                <a href="/link-not-found/Institutions" class="global-footer-link">Institutions</a>
                <a href="/link-not-found/Contact Us" class="global-footer-link">Contact Us</a>
            </div>
            <div id="w-node-_4099f47b-6fda-bd45-89a8-b604e38abb33-e38abb1a">
                <h6>
                    <span class="u-text-color is--black">About Us</span>
                </h6>
                <a href="/link-not-found/Company" class="global-footer-link">Company</a>
                <a href="/link-not-found/Careers" target="_blank" class="global-footer-link">Careers</a>
                <a href="/link-not-found/Equity" class="global-footer-link">Freedom &amp; Focus</a>
            </div>
        </div>
        <div class="divider"></div>
        <div class="w-clearfix">
            <div class="u-float is--left">
                <div class="u-flex is--hor">
                    <a href="/link-not-found/Facebook" target="_blank" class="global-footer-social w-inline-block">
                        <img src="images/facebook-f-brands-black.svg" loading="lazy" alt="Facebook" />
                    </a>
                    <a href="https://x.com/simplerule_ai" target="_blank" class="global-footer-social w-inline-block">
                        <img src="images/twitter-brands-black.svg" loading="lazy" alt="Twitter/X" />
                    </a>
                    <a href="https://www.instagram.com/simplerule.ai?igsh=MThuMnZpNWJmNzlzNg%3D%3D&utm_source=qr"
                        target="_blank" class="global-footer-social w-inline-block">
                        <img src="images/instagram-brands-black.svg" loading="lazy" alt="Instagram" />
                    </a>
                    <a href="/link-not-found/YouTube" target="_blank" class="global-footer-social w-inline-block">
                        <img src="images/youtube-brands-black.svg" loading="lazy" alt="YouTube" />
                    </a>
                    <a href="/link-not-found/Linkedin" target="_blank" class="global-footer-social w-inline-block">
                        <img src="images/linkedin-in-brands-black.svg" loading="lazy" alt="LinkedIn" />
                    </a>
                </div>
            </div>
            <div class="u-float is--right">
                <div class="u-flex is--hor">
                    <a href="/link-not-found/Privacy_Policy" class="c-footer-link-page">Privacy
                        Policy</a>
                    <a href="/link-not-found/Terms_Of_Use" class="c-footer-link-page">Terms of
                        Use</a>
                    <a href="/link-not-found/Cookie_Policy" class="c-footer-link-page">Cookie Policy</a>
                    <a href="#" class="c-footer-link-page">© 2024-2025 Simple Rule LLC. All rights reserved</a>
                </div>
            </div>
        </div>
    </div>
</div>