@page "/link-not-found/{linkName}"

@code {
    [Parameter]
    public string linkName { get; set; }

    protected override void OnInitialized()
    {
        // Additional logic if needed
    }
}

<h3>You clicked on '@linkName', but it isn't created yet.</h3>
<p>Please email <a href="mailto:simplerule.ai@gmail.com">brennanopitz@gmail.com</a> to request this link or page.</p>
<p> Thanks for being patient with us! </p>